<section class="full-box cover dashboard-sideBar">
    <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
    <div class="full-box dashboard-sideBar-ct">
        <!--SideBar Title -->
        <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title"> Hospital<i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
        </div>
        <!-- SideBar User info -->
        <div class="full-box dashboard-sideBar-UserInfo">
            <figure class="full-box">
                <img src="./assets/img/avatar.jpg" alt="UserIcon">
                <figcaption class="text-center text-titles">User Name</figcaption>
            </figure>
            <ul class="full-box list-unstyled text-center">
                <li>
                    <a href="#!">
                        <i class="zmdi zmdi-settings"></i>
                    </a>
                </li>
                <li>
                    <a href="#!" class="btn-exit-system">
                        <i class="zmdi zmdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- SideBar Menu -->
        <ul class="list-unstyled full-box dashboard-sideBar-Menu">
            <!-- Farmacia -->
            <li>
                <a href="#!" class="btn-sideBar-SubMenu">
                    <i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Farmacia <i class="zmdi zmdi-caret-down pull-right"></i>
                </a>
                <ul class="list-unstyled full-box">
                    <li>
                        <a href="/adquisiciones"><i class="zmdi zmdi-hospital-alt zmdi-hc-fw"></i> Adquisiciones</a>
                    </li>
                    <li>
                        <a href="/almacenamiento"><i class="zmdi zmdi-storage zmdi-hc-fw"></i> Almacenamiento</a>
                    </li>
                    <li>
                        <a href="/distribucion"><i class="zmdi zmdi-shape zmdi-hc-fw"></i> Distribucion </a>
                    </li>
                    <li>
                        <a href="/reportes"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Reportes</a>
                    </li>
                    
                </ul>
            </li>
            <li>
            <!-- Ventas -->	
            <li>
                <a href="#!" class="btn-sideBar-SubMenu">
                    <i class="zmdi zmdi-shopping-cart-plus zmdi-hc-fw"></i> Ventas <i class="zmdi zmdi-caret-down pull-right"></i>
                </a>
                <ul class="list-unstyled full-box">
                    <li>
                        <a href="apertura"><i class="zmdi zmdi-accounts-add zmdi-hc-fw"></i> Apertura de Caja</a>
                    </li>
                    <li>
                        <a href="subject.html"><i class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i> Cierre de Caja</a>
                    </li>
                    <li>
                        <a href="regins.ejs"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Reportes de Ventas</a>
                    </li>
                    <li>
                        <a href="/registroVenta"><i class="zmdi zmdi-shopping-cart zmdi-hc-fw"></i> Venta de Servicios </a>
                    </li>
                </ul>
            </li>	
            <!-- Almacen -->	
            <li>
                <a href="#!" class="btn-sideBar-SubMenu">
                    <i class="zmdi zmdi-store zmdi-hc-fw"></i> Almacen <i class="zmdi zmdi-caret-down pull-right"></i>
                </a>
                <ul class="list-unstyled full-box">
                    <li>
                        <a href="/RegistroAlmacen"><i class="zmdi  zmdi-edit  zmdi-hc-fw"></i> Almacenamiento</a>
                    </li>
                    <li>
                        <a href="/GrupoAsig"><i class="zmdi zmdi-dns zmdi-hc-fw"></i>Grupos de Asignacion</a>
                    </li>
                    <li>
                        <a href="/Almacenes"><i class="zmdi  zmdi-home  zmdi-hc-fw"></i> Almacenes</a>
                    </li>
                    <li>
                        <a href="subject.html"><i class="zmdi zmdi-chart zmdi-hc-fw"></i> Control de Stock</a>
                    </li>
                    <li>
                        <a href="regins.ejs"><i class="zmdi zmdi-widgets zmdi-hc-fw"></i> Distribucion </a>
                    </li>
                    <li>
                        <a href="regins.ejs"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Reportes </a>
                    </li>
                </ul>
            </li>
        
            <!-- Pedidos -->
            <li>
                <a href="#!" class="btn-sideBar-SubMenu">
                    <i class="zmdi  zmdi-card-giftcard zmdi-hc-fw"></i> Pedidos <i class="zmdi zmdi-caret-down pull-right"></i>
                </a>
                <ul class="list-unstyled full-box">
                    <li>
                        <a href="school.html"><i class="zmdi zmdi-file zmdi-hc-fw"></i> Solicitud de Pedidos</a>
                    </li>
                    <li>
                        <a href="/proveedores"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i> Provedores</a>
                    </li>
                    <li>
                        <a href="school.html"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Reportes</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>