<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
        <!-- Content page -->
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-titles"><i class="zmdi zmdi-collection-plus zmdi-hc-fw"></i> Suministros Fraccionales </h1>
            </div>
        </div>
        <div class="container-fluid">
                <div class="row">
                    <form action="">
                        <div class="container-fluid">
                            <h2 class="text-center all-tittles">NOTAS REGISTRADAS</h2>
                            <div class="col-md-12 panel-body">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Gestion</label>
                                                <select class="form-control">
                                                    <option>2019</option>
                                                    <option>2018</option>
                                                    <option>2017</option>
                                                </select>
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Establecimiento</label>
                                            <select class="form-control">
                                                <option>HOSP. D. BRACAMONTE</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Farmacia</label>
                                            <select class="form-control">
                                                <option>FARMACIA HOSP. D. BRACAMONTE</option>
                                                <option>ALMACEN</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Tipo de Transacción</label>
                                            <select class="form-control">
                                                <option>Entrada</option>
                                                <option>Salida</option>
                                            </select>
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Busqueda (Nro. cotización - Fecha - Concepto):</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-animate-checkbox">
                                            <h4 class="text-titles"> Vigente</h4>							
                                            <input type="checkbox" class="checkbox"  id="validate_agree" name="validate_agree">
                                        </div>
                                        <div class="form-group form-animate-checkbox">
                                            <h4 class="text-titles"> Tipo de Impresora</h4>							
                                            <label> Grafica</label>
                                            <input type="checkbox" class="checkbox"  id="validate_agree" name="validate_agree">
                                        </div>
                                        <div class="form-group form-animate-checkbox">
                                            <label>Matricial</label>							
                                            <input type="checkbox" class="checkbox"  id="validate_agree" name="validate_agree">
                                        </div>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Clase de Notas</label>
                                            <select class="form-control">
                                            <option>ANUV-Anulacion de Venta de Medicamentos</option>
                                            <option>CCF-Compra con factura</option>
                                            <option>CCN-Compra con Nota de Remision</option>
                                            <option>SIAFI-SIAFIN</option>
                                            </select>
                                        </div>
                                        <div class="form-group form-animate-checkbox">
                                            <h4 class="text-titles"> Listado de Anulados</h4>							
                                            <input type="checkbox" class="checkbox"  id="validate_agree" name="validate_agree">
                                        </div>
                                    </div>
                                    <table class="table table-hover text-center">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Nro.</th>
                                                <th class="text-center">Fecha</th>
                                                <th class="text-center">Concepto</th>
                                                <th class="text-center">Modificar</th>
                                                <th class="text-center">Eliminar</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <p class="text-center">
                                        <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                        <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                        <button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>	
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>